.sidebar-menu {
  position: absolute;
  height: 5%;
  background-color: #F2F2F2;
  z-index: 1;
  right: 21%;
  top: 0;
}

.sidebar-menu-off {
  position: absolute;
  height: 5%;
  background-color: #F2F2F2;
  z-index: 1;
  right: 0%;
  top: 0;
}

button {
  width: 100%;
  height: 100%;
}

.sidebar-menu-xs {
  position: absolute;
  height: 5%;
  background-color: #F2F2F2;
  z-index: 1;
  right: 80%;
  top: 0;
}

.sidebar-menu-off-xs {
  position: absolute;
  height: 5%;
  background-color: #F2F2F2;
  z-index: 1;
  right: 0%;
  top: 0;
}

.sidebar-menu-sm {
  position: absolute;
  height: 5%;
  background-color: #F2F2F2;
  z-index: 1;
  right: 40%;
  top: 0;
}

.sidebar-menu-off-sm {
  position: absolute;
  height: 5%;
  background-color: #F2F2F2;
  z-index: 1;
  right: 0%;
  top: 0;
}

.sidebar-menu-md {
  position: absolute;
  height: 5%;
  background-color: #F2F2F2;
  z-index: 1;
  right: 30%;
  top: 0;
}

.sidebar-menu-off-md {
  position: absolute;
  height: 5%;
  background-color: #F2F2F2;
  z-index: 1;
  right: 0%;
  top: 0;
}


.divButton {
  width: 100%;
  height: 10%;
  border-style: solid;
  border-color: white;
}

.button-local {
  width: 100%;
  height: 100%;
  color: white; 
  background-color: #B6D93B;
  background-size: 50px;
  background-position: center;
  text-align: center;
  border-top-left-radius: 1px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 40px;
}

.buttonWalking {
  width: 100%;
  height: 100%;
  color: white; 
  background: url(https://i.ibb.co/1LpnQ3f/senderismo.png) no-repeat;
  background-color: #B6D93B;
  background-size: 50px;
  background-position: center;
  text-align: center;
}



